env/

.env

db.json

__pycache__/

html_test_reports/result_*.html

my_bot/*.pyc

my_bot/__pycache__/

my_bot/*/*.pyc

my_bot/*/__pycache__/

my_bot/*/*/*.pyc

my_bot/*/*/__pycache__/

my_bot/*/*/*/*.pyc

my_bot/*/*/*/__pycache__/

my_bot/*/*/*/*/*.pyc

my_bot/*/*/*/*/__pycache__/
